/* theme colors */

:root {


    /* Dark theme */
    --dark-bg: #00384d;
    --dark-fg: #b0e1f4c3;

    /* Light theme */
    --light-bg: #d1f0f995;
    --light-fg: rgb(59, 44, 44);

    /* Defaults

    For a dark theme use these lines
    --current-bg: var(--dark-bg);
    --current-fg: var(--dark-fg);
    
    For a light theme use these lines
    --current-bg: var(--light-bg);
    --current-fg: var(--light-fg);

    */

    --current-bg: var(--light-bg);
    --current-fg: var(--light-fg);
}


/* clear all padding, margins */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--current-bg);
    color: var(--current-fg);
}

a {
    background-color: var(--current-bg);
    color: var(--current-fg);

}


.title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--current-fg);
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: var(--current-fg);
}


hr {
    margin: 1rem 0;
}

/* Details/Summary Indentation levels */

.level1 {
    /* list-style: disc; */
    background-color: var(--current-bg);
    color: var(--current-fg);
    padding: rem;
    font-size: 1rem;
    cursor: pointer;
}

.level2 {
    /* list-style: disc; */
    background-color: var(--current-bg);
    color: var(--current-fg);
    padding: rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

.level3 {
    /* list-style: disc; */
    background-color: var(--current-bg);
    color: var(--current-fg);
    padding: rem;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1rem;
}

.details-content {
    background-color: var(--current-bg);
    color: var(--current-fg);
    padding: 1rem;
    font-size: 0.8rem;
    overflow-wrap: break-word;
    cursor: pointer;
}

button {
    font-size: 0.9rem;
    padding: 3px 3px;
    background-color: antiquewhite;
    border-radius: 6px;
}

select {
    font-size: 0.8rem;
    padding: 1px 1px;
    width: 400px;
    background-color: #00384d;
    color: white;
    text-align: center;
}

textarea {
    color: rgb(7, 7, 0);
    width: 400px;
    background-color: rgb(243, 239, 136);
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px 1px;
    text-align: left;
}

.generatedquery {
    color: black;
    width: 400px;
    background-color: rgb(203, 241, 165);
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}



.checkbox {
    font-size: 0.8rem;
}

.statusbar {
    font-size: 0.9rem;
    padding: 4px 1px;
    background-color: var(--current-bg);
    color: var(--current-fg);

    text-align: left;
    border: 1;

}

blockquote {
    background-color: var(--current-bg);
    color: var(--current-fg);
    text-align: left;
}

table {
    background-color: var(--current-bg);
    color: var(--current-fg);
    border-collapse: collapse;
    border: 1px solid var(--current-fg);
}

th {
    padding: 2px;
    font-size: 1.8rem;
    border: 1px solid var(--current-fg);
}

td {
    padding: 2px;
    font-size: 0.8rem;
    border: 1px solid var(--current-fg);
}

/* zebra striping tbody tr:nth-child(odd) {
    background-color: var(--current-bg);
    color: var(--current-fg);

}

tbody tr:nth-child(even) {
    background-color: var(--current-bg);
    color: var(--current-fg);
} */

ul {
    list-style-type: disc !important;
    padding-left: 1em;
}